.watchnow{
     text-decoration-color: blanchedalmond;
    text-decoration: none;
    
    
}
.bag-image{
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    position: relative;
}
body{
    margin: 0%;
    padding: 0%;
}
.button-watchnow{
    
   position: absolute;
    width: 10%;
    height: 6%;
    border-color: beige;
    background: border-box;
    color: aliceblue;
    border-width: 2px;
    
}
.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    top: 78%;
}
.slide-div{

margin-top: 10%;
width: 100%;
height: 95%;
}
.slide-image{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}
@media all and (max-width: 768px){
    .bag-image{
        min-height: 40vh;
    }
}
.trans{
    text-align: justify;
    color: #00095b;
    font-family: "FordAntennaBold";
    font-size: 2.5rem;
    line-height: 2.6875rem; 
    letter-spacing: 0;
    font-weight: 500;
}
.trans2{
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
}
.text-div{
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 5%;
    margin-top: 3%;
    
    
}
.trans3{
    text-align: justify;
    color: #00095b;
    font-family: "FordAntennaBold";
    font-size: 1.8rem;
    line-height: 2.6875rem; 
    letter-spacing: 0;
    font-weight: 500;
    
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

}
.container-dial{
    width: 100%;
    
}
.service-promise{
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 5%;
    margin-top: 3%;

}
.trans4{
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.4rem;
   
    font-weight: 500;
}
.calculate{
    font-family: "FordAntennaBold";
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: #00095b;
    font-weight: 700;
    padding-left: 7%;
    
}
.calculate2{
    font-family: "FordAntennaBold";
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: #00095b;
    font-weight: 700;
    

}
.watch{
    position: relative;
}
.watchnow3{
    position: absolute;
    top: 30%;
    left: 10%;
    
    
}
.greater{
    width: 40px;
    height: 20px;
    background-color: #00095b;
    border-radius: 50%;
    
    color: #fcf7f7;
    
}
.ptag{
    text-decoration: none;
}
.trans5{
    text-align: justify;
    color: #00095b;
    font-family: "FordAntennaBold";
    font-size: 1.8rem;
    line-height: 2.6875rem; 
    letter-spacing: 0;
    font-weight: 500;
    
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

}
.assurance{
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 5%;
    margin-top: 3%;

}
.fulfilling{
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.4rem;
   
    font-weight: 500;

}
.spanner{
    background-size: cover;
    width: 100%;
}
.trans6{
    text-align: justify;
    color: #00095b;
    font-family: "FordAntennaBold";
    font-size: 1.8rem;
    line-height: 2.6875rem; 
    letter-spacing: 0;
    font-weight: 500;
    
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
.genuine{
    padding-left: 7%;
    padding-bottom: 2%;
    padding-right: 5%;
    margin-top: 3%;

}
.genuinE-Prts{
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.4rem;
   
    font-weight: 500;
    justify-content: center;
}
.trans7{
    text-align: justify;
    color: #00095b;
    font-family: "FordAntennaBold";
    font-size: 1.8rem;
    line-height: 2.6875rem; 
    letter-spacing: 0;
    font-weight: 600;
    
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

}
.Comfort{
    padding-left: 3%;
    padding-bottom: 2%;
    padding-right: 5%;
    margin-top: 3%;
    
}
.comfort-line{
    
    font-size: 1.2rem;
    line-height: 1.4rem;
   
    font-weight: 500;
    justify-content: center;
}
.color-overlay2{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 2%;
    }
.service-with-family{
    position: relative;
}
.book-service{
    position: absolute;
    left: 15%;
    top: 17%;
}
@media all and (max-width: 768px){
    .service-with-family{
        min-height: 40vh;
    }
}
.protect{
    opacity: 1.8;
    transition: 400ms;
}
.hover:hover{
    transform: scale(1.05);
    transition-duration: 800ms;
    border-radius: 5%;
}

.protect:hover {
    color: cornflowerblue;
    opacity: 1;

}
.follow-ford{
    margin-top: 8%;
    color: rgb(95, 16, 16);
    font-size: 1rem;
}
.terms{
    color: #231f20 ;
    font-size: 14.0px;
    background-color: rgb(255, 232, 232);
    
   
    
}
.p{
    padding-left: 10%;
    
}
.policy{
    font-size: small;
    padding-left: 1em;
}
